
<form action="/jugar" name="jugar" method="post">
<p><h1 align="left">Bienvenido al </h1></p>
<p><h1 align="center">Juego</h1></p>
<p><h1 align="right">AHORCADO</h1></p>
	<input type="hidden" name="espacio" value="" >
	<input type="hidden" name="errores" value="0">
	<input type="hidden" name="letra" value="">
	<input type="submit" name="Jugar" value="Jugar">
</form>

