
<form action="/jugar" name="jugar" method="post">
	<input type="submit" name="Jugar" value="Jugar">
	<input type="hidden" name="errores" value="0">
	<input type="hidden" name="letra" value="">
</form>

<form action="/agregar_palabras" name="agregar_palabras">
	<input type="submit" name="agregar_palabras" value="Agregar_Palabras">
</form>