<h1>J U E G O      A H O R C A D O </h1>


<h1><%= @espacio %></h1>
<form action="/jugar" name="hang" method="post">
	<input type="text" name="letra">
	<input type="hidden" name="espacio" value=<%=@espacio%>>
	<input type="submit" value="Insertar">
	
</form>






